body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #000;
}
a{
    text-decoration: none;
    display: inline-block;
}
header{
    display: flex;
    padding: 25px 0 ;
    /* background-color: hotpink; */
}
header #logo{
    width: 18%;
    text-align: center;
}
header #logo .food_logo{
    padding: 5% 15%;
    font-weight: 800;
    font-size: 1.1em;
    color: chartreuse;
}
header #navigation{
    width: 57%;
}
header #navigation ul{
    margin: 0 0 0 30%;
    display: flex;
}
header #navigation ul li{
    list-style-type: none;
}
header #navigation ul li a{
    font-weight: 600;
    font-size: 1em;
    color: chartreuse;
    padding: .969em 2em;
}
header #search{
    width: 25%;
}
header #search .searching{
    background: transparent;
    padding: 2%;
    margin-top: 1%;
    border: 3px solid chartreuse;
    border-radius: 20px;
    color: chartreuse;
    font-weight: 600;
    font-size: 1em;
}
header #search button.searching{
    background: chartreuse;
    color: #272727;
}
/* header ends here */
#home{
    /* background-color: #d63636; */
    margin: 0;
    padding: 5%;
    display: flex;
    background-image: url(images/Project\ cover1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#home .half_width{
    width: 50%;
    padding:  0 10%;
}
#home .half_width h1{
    font-weight: 800;
    font-size: 2em;
    margin: 2%;
}
#home .half_width h1 span{
    color: chartreuse;
    text-shadow: 2px 2px black;
}
#home .half_width p{
    font-weight: 400;
    font-size: 1em;
    padding: 0% 2%;
}
#home .half_width a{
    font-weight: 600;
    font-size: 1em;
    padding: 0% 2%;
    background-image: linear-gradient(#ff6600, #000);
    color: chartreuse;
    margin-left: 2%;
    padding: 2%;
    border-radius: 30px;
}
#home .half_width img{
    margin-left: 20%;
    border-radius: 50%;
}
/* home section ends here */
#about{
    /* background-color: #d63636; */
    margin: 0;
    padding: 5% 0;
    display: flex;
    background-image: url(images/Project\ Cover2.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    /* background-color: #ffffff; */
}
#about .half_width{
    width: 50%;
    padding:  0 10%;
}
#about .half_width h1{
    font-weight: 800;
    font-size: 2em;
    margin: 2%;
    color: chartreuse;
}
#about .half_width h1 span{
    color: chartreuse;
}
#about .half_width p{
    font-weight: 400;
    font-size: 1em;
    padding: 2% 2%;
    color: lime;
}
#about .half_width a{
    font-weight: 600;
    font-size: 1em;
    padding: 0% 2%;
    background-image: linear-gradient(#ff6600, #000);
    color: chartreuse;
    margin-left: 2%;
    padding: 2%;
    border-radius: 30px;
}
#about .half_width img{
    margin-left: 20%;
    border-radius: 50%;
}
/* about section ends here */
#recipes{
    background-color: blueviolet;
    height: 500px;
    background-image: url(images/recipe_cover.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#recipes .recipe_intro{
    background-color: rgb(209, 65, 65);
    height: 500px;
}
/* #recipes .recipe_intro{}
#recipes .recipe_intro{}
#recipes .recipe_items{
    background-color: burlywood;
    height: 500px;
}
#recipes{}
#recipes{} */